.wrapper {
    min-width: 200px;
    background: transparent;
    color: white;
}

.letter {
    font-size: 60px;
    font-weight: 300;
}

.word {
    font-size: 20px;
    font-weight: 300;
}

.selectedMenuItem {
    color: black;
    background: white;
}

.notSelectedMenuItem {
    color: white;
    background: transparent;
}