paper-shadow {
    background-color: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

core-animated-pages {
    width: 1200px;
    height: 540px;
    overflow: hidden;
}

h3 {
    padding: 0;
    margin: 0;
}

.menu-heading {
    text-transform: uppercase;
    color: white;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 3px;
}

.menu-sub-headings {
    width: 100%;
}
.menu-sub-headings div {
    width: 100%;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 8px;
    text-align: center;
    margin-left: -8px;
}
.sub2 {
    text-decoration: none;
    width: 100%;
     color: white;
    
}

.menu-sub-2-headings {
    font-size: 16px;
    color: #ececec;
    //text-indent: 10px;
    line-height: 26px;
}

.projects,
.services,
.employees,
.productsm,
.conferences,
.programs, .products {
    height: 200px;
    padding: 15px;
}

.services {
    background: #2196F3;
}

.projects {
    background: #E91E63;
}

.employees {
    background: #4CAF50;
}

.products {
    background: #FF9800;
}

.conferences {
    background: #FFC107;
}

.programs {
    background: #00BCD4;
}