header, .page-wrapper, footer {
    max-width: 1200px;
    margin: 0 auto;
}
header {
    margin-top: 30px;
}
.top-header {
    padding-bottom: 30px;
}
.top-nav-links a {
    color: #e6e6e6;
    font-size: 16px;
    text-decoration: none;
    
}
.page-wrapper {
    background-color: white;
}
.inner-wrapper {
    padding: 20px;
    min-height: 600px;
}
